.idea/
/backend/node_modules/
/backend/.env
/hardware/config.h
/backend/certificates/ufound-tech-ca_bundle.crt
/backend/certificates/ufound-tech-certificate.crt
/backend/certificates/ufound-tech-private.key
